{% extends 'base.html' %}
{% comment %} {% load static %} {% endcomment %}
{% block navbar %}{% endblock navbar %}
{% block tab %}{% endblock tab %}
{% block style %}
input{
  color:black;
  text-align: center;
  border-radius: 30px;
  border: 2px solid lightgreen;
    max-width:100px;
    min-width:6vw;
    margin:5px;
  }
  #main{
      height:80vh;
      overflow:scroll;
      }
      ::-webkit-scrollbar {
        display:none;
    }
{% endblock style %}
{% block main %}
<br> <br> <br> <br><br><br><br><br><br>
<h3 style="line-height:1; letter-spacing:1px;">
    Here you have to enter your full length passphrase for your ALGORAND account,  Please make sure you dont enter any spaces with the words:
  </h3> <br>
<form action="" method="post">
  {% csrf_token %}
  {% comment %} autocomplete="off" {% endcomment %}
  {% for i,x in Words1.items%}
  <input type="text" name={{i}} placeholder={{x}}></input>
  {% endfor %}
  <br>
  {% for i,x in Words2.items%}
  <input type="text" name={{i}} placeholder={{x}}></input>
  {% endfor %} 
  <br>
  {% for i,x in Words3.items%}
  <input type="text" name={{i}} placeholder={{x}}></input>
  {% endfor %} 
  <br>
  {% for i,x in Words4.items%}
  <input type="text" name={{i}} placeholder={{x}}></input>
  {% endfor %} 
  <br>
  {% for i,x in Words5.items%}
  <input type="text" name={{i}} placeholder={{x}}></input>
  {% endfor %}
  <br>  <br>  <br> 
  <a href="{% url 'createRecovery' %}">
    <button type="submit" class="btn">Verify Passphrase</button>
  </a>
</form>
  {% endblock main %}