{% extends 'base.html' %}
{% block navbar %}{% endblock navbar %}
{% block tab %}{% endblock tab %}

{% block style %}
input{
  color:black;
  text-align: center;
  border-radius: 30px;
  border: 2px solid lightgreen;
  margin:10px;
  }
  #main{
    height:60vh;
  }
{% endblock style %}
{% block main %}<br><br>
<h2 style="line-height:1;">
  Thanks for choosing your further digital currency journey with us,  Just add a  name and a powerful password for your acount and you are good to go:
</h2> <br>
<form action=""method="post">
  {% csrf_token %}
  <input autocomplete="off"  type="text" name="AccName" placeholder="Account Name"></input>
  <input autocomplete="off"  type="email" name="mail" placeholder="E-mail"></input><br>
  <input autocomplete="off"  type="password" name="AccPwd" placeholder="Password"></input><br>
  <button autocomplete="off"  type="submit" class="btn">Create Account</button>
</form>
{% endblock main %}