{% extends 'base.html' %}
{% block title %}AlgoPy | Dashboard{% endblock title %}

{% block tab %}{% endblock tab %}
{% block icon %}{% endblock icon %}

<br>
{% block main %}
<style>
  h1{
    font-size:2rem; 
    font-weight:400;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  span{
    font-weight:600; 
    font-size:27px;
    color:green;
    text-decoration:underline;
  }

</style>
<script>
  function copyFun(){
    var address=document.getElementById('clip').innerHTML;
    navigator.clipboard.writeText(address);
    alert("Your address is copied to your clipboard.");

}
</script>
<br><br>
<h1 >
  Your Account Balance is <span > <br> {{bal}}</span> 
</h1>
<h1 >
  Your Account Address is <span id="clip">{{add}}</span></h1>
<br>
<button onclick="copyFun()" class="btn">Copy Address to Clipboard</button> <br><br>
<form action="/sendmail" method="POST">
  {% csrf_token %}
  <a href="{% url 'sendmail' %}">
<button type="submit" class="btn">Send Account details to my mail</button>
  </a>
</form>
{% endblock main %}
