{% extends 'base.html' %}
{% block title %}AlgoPy | Dashboard{% endblock title %}

{% block tab %}{% endblock tab %}


 
{% block main %}
<style>
  .main-container{
    width: 95% !important;
    }
  span{
    font-weight:600; 
    font-size:27px;
    color:green;
    word-break: break-all;
  }
</style>
<script>
  function copyFun(){
    var address=document.getElementById('clip').innerHTML;
    navigator.clipboard.writeText(address);
    alert("Your address is copied to your clipboard.");

}
</script>
  
<div class="h1">
  Your Account Balance is <br> <span >{{bal}} ALGO</span> 
</div>

<div class="h1">

  Your Account Address is <br> <span id="clip">{{add}}</span>
</div>

  <form action="/sendmail" method="POST">
    <div class="row justify-content-center">
<div class="col-sm-7">
  <a class="btn" target="_blank" href="https://dispenser.testnet.aws.algodev.network/" > 
    Add Funds
  </a>
</div>
<div class="col-sm-7">
<a class="btn" onclick="copyFun()" class="btn">Copy Address to Clipboard</a>
</div>
{% csrf_token %}
<div class="col-sm-7">
<a href="{% url 'sendmail' %}">
  <button type="submit" class="btn">Send Account details to my mail</button>
</a>
</div>
</div>

  </form>


{% endblock main %}
