{% extends 'base.html' %}
{% block title %}AlgoPy | Dashboard{% endblock title %}

{% block tab %}{% endblock tab %}


<br>
{% block main %}
<style>
  h1{
    font-size:2rem; 
    font-weight:400;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  span{
    font-weight:600; 
    font-size:27px;
    color:green;
    text-decoration:underline;
  }
  @media screen and (max-width: 768px) {
    #icon{
      position:initial;
      left:2cm;
      top:2cm;
      color:#25c481;
      z-index:10;

    }
  }
</style>
<script>
  function copyFun(){
    var address=document.getElementById('clip').innerHTML;
    navigator.clipboard.writeText(address);
    alert("Your address is copied to your clipboard.");

}
</script>
<br><br>
<h1 >
  Your Account Balance is <span > <br> {{bal}} ALGO</span> 
</h1>
<h1 >
  Your Account Address is <span id="clip">{{add}}</span></h1>
<br>
<button onclick="copyFun()" class="btn">Copy Address to Clipboard</button> <br><br>
<form action="/sendmail" method="POST">
  {% csrf_token %}
  <a href="{% url 'sendmail' %}">
<button type="submit" class="btn">Send Account details to my mail</button>
  </a>
</form>
{% block icon %}
<a target="_blank" href="https://dispenser.testnet.aws.algodev.network/" style="position:absolute;"> 
  <i style="top:3cm;left:0cm;" id="icon" class="fas fa-2x fas fas fas fa-fas fa-coins">ADD FUNDS</i>
  {% comment %} <i style="top:3cm;color:white;left:1.2cm;" id="icon" class="fas fas fas fas fa-far fa-fas fa-plus"></i>   {% endcomment %}
</a>
{% endblock icon %}
{% endblock main %}
