{% extends 'base.html' %}
{% block title %}AlgoPy | Transactions' History{% endblock title %}
<script>
  function search(){
    onkeyup="myFunction()"
  }
</script>

{% block icon %}
<a href="/dashboard">       
<i id="icon" style="top:1.8em; " class="fas fa-2x fas fas fas fa-arrow-circle-left"></i>
</a>
{% endblock icon %}
{% block content %}
<input style="position: fixed; top: 3cm;left: 4cm; border: none; border-radius: 20px; text-align: center;" type="text" placeholder="Search a Txn"></input> 
{% endblock content %}
<br><br><br>
 {% block trow %}



 {% for i in divyansh %}
 <tr>
   <td >{{i.sno}}</td>
   <td style="max-width: 6cm;overflow: hidden; text-overflow: ellipsis;">{{i.id}}</td>
   <td>{{i.tnxtype}}</td>
   <td>{{i.amount}}</td>
   <td style="max-width: 6cm;overflow: hidden; text-overflow: ellipsis;">{{i.sender}}</td>
   <td style="max-width: 6cm;overflow: hidden; text-overflow: ellipsis;">{{i.receiver}}</td>
   <td>{{i.fee}}</td>
 </tr> 
 {% endfor %}
{% endblock trow %}
    
    {% comment %} {% endfor %} {% endcomment %}
