{% extends 'base.html' %}
{% block title %}AlgoPy | Transactions' History{% endblock title %}
{% block js %}
  function search(){
    var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("input");
  filter = input.value.toUpperCase();
  table = document.getElementById("Table");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
  }
function clear(){
 text= document.getElementById('input').value='';
}
  {% endblock js %}

{% block style %}
.main-container{
  display:none;
}
{% endblock style %}



   
 {% block trow %}



 {% for i in divyansh %}
 <tr>
   <td >{{i.sno}}</td>
   <td id="txnID" style="max-width: 6cm;overflow: hidden; text-overflow: ellipsis;">{{i.id}}</td>
   <td>{{i.tnxtype}}</td>
   <td>{{i.amount}} Algo</td>
   <td style="max-width: 6cm;overflow: hidden; text-overflow: ellipsis;">{{i.sender}}</td>
   <td style="max-width: 6cm;overflow: hidden; text-overflow: ellipsis;">{{i.receiver}}</td>
   <td>{{i.fee}} Algo</td>
 </tr> 
 {% endfor %}
{% endblock trow %}
    
    {% comment %} {% endfor %} {% endcomment %}
