{% extends 'base.html' %}
{% block title %}AlgoPy | Transactions' History{% endblock title %}

{% block content %}{% endblock content %}
{% block icon %}
<a href="/dashboard">       
<i id="icon" style="top:1.8em; " class="fas fa-2x fas fas fas fa-arrow-circle-left"></i>
</a>
{% endblock icon %}
<style>
 

  #icon{
   col

  }
</style>

<br><br><br>
 {% block trow %}



 {% for i in divyansh %}
 <tr>
   <td >{{i.sno}}</td>
   <td style="max-width: 6cm;overflow: hidden; text-overflow: ellipsis;">{{i.id}}</td>
   <td>{{i.tnxtype}}</td>
   <td>{{i.amount}}</td>
   <td style="max-width: 6cm;overflow: hidden; text-overflow: ellipsis;">{{i.receiver}}</td>
   <td style="max-width: 6cm;overflow: hidden; text-overflow: ellipsis;">{{i.sender}}</td>
   <td>{{i.fee}}</td>
 </tr> 
 {% endfor %}
{% endblock trow %}
    
    {% comment %} {% endfor %} {% endcomment %}
