{% extends 'base.html' %}
{% block title %}AlgoPy | Home{% endblock title %}

{% block navbar %}{% endblock navbar %}
{% block tab %}{% endblock tab %}
{% block style %}
.main-container{
	width: 95% !important;
  }
{% endblock style %}


{% block main %}
<div class="h2">
	Welcome to <span style="font-size:larger; font-weight:400;">Algopy <span style="font-size:small; text-transform:none;">Testnet</span></span>
</div>
<div class="h2" style="color:black;">
     Please choose what suits you best.
</div>
<div>

	<a class="btn" href="/AddAccount">
		Recover your account with Passphrase
	</a> 
</div>
OR
<div>

	<a class="btn" href="/CreateAccount">
		Create an account and get a new Passphrase
	</a>
</div>
OR
<div>
	<a class="btn" href="/signin">        
		Login to your account using password
	</a>
</div>
{% endblock main %}