{% extends 'base.html' %}
{% block title %}AlgoPy | Recieve{% endblock title %}

{% block tab %}{% endblock tab %}

{% block main %}
<style>

  span{
    font-weight:600; 
    font-size:27px;
    color:green;
   
  }
  
</style>
<script>
  function copyFun(){
    var address=document.getElementById('clip').innerHTML;
    navigator.clipboard.writeText(address);
    alert("Your address is copied to your clipboard.");

}
</script>
 
<div class="h1 text-center" style="overflow: hidden; word-break:break-all;" >
 Account Address <br> <span id="clip">{{address}}</span>
</div>
 <div>

   <button onclick="copyFun()" class="btn">Copy Address to Clipboard</button>
  </div>
  <div>
    {{ svg|safe }}
  </div>
    {% endblock main %} 